{% extends "base.html.twig" %}
{% block title %}Edit
{% endblock %}

{% block body %}
<p class="text-danger">{{ error }}</p>

{% if form is defined %}
{{ form(form) }}
{% endif %}
<a class="btn btn-danger" href="/property/delete/{{propertyType}}/{{propertyId}}">Delete</a>
{% endblock %}