{% extends "base.html.twig" %}
{% block title %}Register
{% endblock %}

{% block body %}
<p class="text-danger">{{ error }}</p>

{{ form(form) }}

<a class="text-dark" href="/login">Login</a>
{% endblock %}
