<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">PeytzProperties</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto vw-75">
			<li class="nav-item">
				<a {% if app.request.attributes.get('_route') starts with 'home' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/">Home</a>
			</li>
			<li class="nav-item">
				<a {% if app.request.attributes.get('_route') starts with 'lucky_number' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/lucky/number">Lucky Number</a>
			</li>
			<li class="nav-item">
				<a {% if app.request.attributes.get('_route') starts with 'sell_property' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/sell/property">Sell Property</a>
			</li>
		</ul>
		<div class="nav item vw-25 navbar-nav">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<p class="text-light nav-link">Hi
					{{ app.user.username }}</p>
				<a {% if app.request.attributes.get('_route') starts with 'profile' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/profile">Profile</a>
				{%else%}
				<a {% if app.request.attributes.get('_route') starts with 'login' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/login">Login</a>
				
				{%endif%}
			</div>
		</div>
	</nav>
