<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="/">PeytzProperties</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto vw-75">
			<li class="nav-item">
				<a {% if app.request.attributes.get('_route') starts with 'home' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/">Home</a>
			</li>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<li class="nav-item">
					<a {% if app.request.attributes.get('_route') starts with 'sell_property' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/property/sell">Sell Property</a>
				</li>
				{%endif%}
			</ul>
			<div class="nav item vw-25 navbar-nav">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<p class="text-light nav-link">Hi
						{{ app.user.username }}</p>
					{%else%}
					<a {% if app.request.attributes.get('_route') starts with 'login' %} class="nav-link active" {% else %} class="nav-link" {% endif %} href="/login">Login</a>

					{%endif%}
				</div>
			</div>
		</nav>
